:root {
	--mono-font: 13px Monaco, monospace;
	--line-height-normal: 1.5;
	--font-size-normal: 14px;
	--font-size-small: 12px;
	--font-color: black;
	--background: white;
	--border-color-primary: gainsboro;
	--border-style-primary: 1px solid var(--border-color-primary);
	--accent-color-primary: whitesmoke;
	--indent-v-normal: 8px;
	--indent-h-normal: 12px;
	--indents-normal: var(--indent-v-normal) var(--indent-h-normal);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
}

body {
	background: var(--background);
	font-family: Verdana, sans-serif;
	font-size: var(--font-size-normal);
	line-height: var(--line-height-normal);
	color: var(--font-color);
	padding: 40px;
	word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

a {
	color: darkslategray;

	&:hover {
		text-decoration: none;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr {
	border: var(--border-style-primary);

	&:nth-child(even) {
		background-color: var(--accent-color-primary);
	}
}

th {
	font-weight: 600;
	text-align: left;
	padding: var(--indents-normal);
}

td {
	padding: var(--indents-normal);
}

ul {
	list-style-position: inside;
	list-style-type: none;
}

ol {
	list-style-position: inside;
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--indents-normal);
}

dt {
	font-weight: 600;
}

dd {
	margin: var(--indents-normal);
	margin-top: 0;
	margin-right: 0;
}

.flex-v {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.flex-h {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.grid {
	display: grid;
	gap: var(--indents-normal);
}

.frame {
	border: var(--border-style-primary);
	padding: 20px;
}

.font-small {
	font-size: var(--font-size-small);
}

.count-badge {
	border-radius: 50%;
	background: var(--border-color-primary);
	display: inline-block;
	padding: 5px;
	margin: -5px 0;
	font-size: var(--font-size-small);
	font-style: italic;
}

.mark {
	background: var(--border-color-primary);
	border-radius: 5px;
	padding: 5px 12px;
	margin: -5px 0;
	font-size: var(--font-size-small);
}

/* Components */
.c_link {
	word-break: break-all;

	&.m_single-line {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.c_list {
	&.m_inline {
		display: flex;
		flex-wrap: wrap;
		gap: var(--indents-normal);
	}
}

.c_grid {
	display: grid;
	gap: var(--indents-normal);
}

.c_details {
	border: var(--border-style-primary);
	padding: var(--indents-normal);
	padding-top: 0;

	summary {
		background-color: var(--accent-color-primary);
		border-bottom: 1px solid transparent;
		padding: var(--indents-normal);
		margin: 0 -12px -8px;
	}

	&:open summary {
		margin-bottom: 8px;
		border-bottom-color: var(--border-style-primary);
	}
}

.c_tabs {
	display: flex;
	flex-wrap: wrap;

	> label {
		padding: var(--indents-normal);
		cursor: pointer;
		border: 1px solid transparent;
		transform: translateY(1px);
	}

	> input {
		display: none;
	}

	> article {
		display: none;
		border-top: var(--border-style-primary);
	}

	& > input:checked + label + article {
		display: block;
		order: 999;
		width: 100%;
	}

	& > input:checked + label {
		border-color: var(--border-color-primary);
		border-bottom-color: var(--background);
		cursor: default;
	}
}

.c_expander {
	margin-left: 18px;

	summary {
		margin-left: -15px;
		cursor: pointer;
		width: fit-content;
	}
}

.c_code {
	--gutter-width: 40px;

	font: var(--mono-font);
	overflow: auto;
	display: grid;
	grid-template-columns: var(--gutter-width) max-content;
	padding: var(--indents-normal);
	border: var(--border-style-primary);
}

.c_json,
.c_yaml {
	font: var(--mono-font);
	overflow: auto;
	padding: var(--indents-normal);
	border: var(--border-style-primary);
}
